<a href="https://colab.research.google.com/github/ulugbekar/ulugbek/blob/main/MidTERM_12184750.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

conn = sqlite3.connect('Ul.db')

conn.execute('''
CREATE TABLE Booking_Service
(
	start_trip           TIME NULL,
	end_trip             TIME NULL,
	Driver_name          LONG VARCHAR NOT NULL,
	tbooking_re_num      INTEGER NULL,
	tbooking_ref_num     INTEGER NULL
);''')

conn.commit()

print("Booking_Service table created");

conn.execute('''
CREATE TABLE Country
(
	name                 VARCHAR(22) NULL,
	language             VARCHAR(22) NULL,
	country_id           VARCHAR(22) PRIMARY KEY NOT NULL
);''')
 
conn.commit()

print("Country table created");

conn.execute('''
CREATE TABLE Driver
(
	license_num          INTEGER NULL,
	clearense_num        INTEGER NULL,
	language             LONG VARCHAR NULL,
	Driver_ID            INTEGER PRIMARY KEY NOT NULL,
	Driver_name          LONG VARCHAR NULL
);''')

conn.commit()

print("Driver table created");

conn.execute('''
CREATE TABLE DropOff
(
	city                 LONG VARCHAR NULL,
	address              INTEGER NULL,
	loc_type             LONG VARCHAR NULL,
	tbooking_ref_num     INTEGER PRIMARY KEY NOT NULL
);''')

conn.commit()

print("DropOff table created");

conn.execute('''
CREATE TABLE Officials
(
	country_id           INTEGER PRIMARY KEY NOT NULL,
	language             LONG VARCHAR NULL,
	name                 LONG VARCHAR NULL,
	role                 LONG VARCHAR NULL,
	city_id              INTEGER NULL
);''')

conn.commit()

print("Officials table created");

conn.execute('''
CREATE TABLE Pickup
(
	city                 LONG VARCHAR NULL,
	address              INTEGER NULL,
	loc_type             LONG VARCHAR NULL,
	tbooking_re_num      INTEGER PRIMARY KEY NOT NULL
);''')

conn.commit()

print("Pickup table created");

conn.execute('''
CREATE TABLE Vehicle
(
	Vehicle_ID           VARCHAR PRIMARY KEY NOT NULL,
	registration_id      VARCHAR NULL,
	manufacturer         VARCHAR NULL,
	model                VARCHAR NULL,
	color                VARCHAR NULL,
	current_odometer     INTEGER NULL,
	passenger_cap        INTEGER NULL,
	Driver_ID            INTEGER NULL
);''')

conn.commit()

print("Vehicle table created");

Booking_Service table created
Country table created
Driver table created
DropOff table created
Officials table created
Pickup table created
Vehicle table created

In [ ]:
conn.execute("REPLACE INTO Country(name,language,country_id) VALUES('ISO 3166-2','Aruba','AW');")
conn.execute("REPLACE INTO Country(name,language,country_id) VALUES('ISO 3166-2','Australia','AU');")
conn.execute("REPLACE INTO Country(name,language,country_id) VALUES('ISO 3166-2','Austria','AT');")
conn.execute("REPLACE INTO Country(name,language,country_id) VALUES('ISO 3166-2','Azerbaijan','AZ');")

conn.commit()

In [ ]:
conn = sqlite3.connect('Ul.db')
cursor = conn.execute(''' SELECT * FROM Country ''')
for tuples in cursor:
  print(tuples)

('ISO 3166-2', 'Aruba', 'AW')
('ISO 3166-2', 'Australia', 'AU')
('ISO 3166-2', 'Austria', 'AT')
('ISO 3166-2', 'Azerbaijan', 'AZ')

In [ ]:
conn.execute("INSERT INTO Vehicle(Vehicle_ID,registration_id,manufacturer,model,color,current_odometer,passenger_cap,Driver_ID) VALUES('V1000','2001 ABC','Volvo','XC90 SE','Silver',4350,4,1234);")
conn.execute("INSERT INTO Vehicle(Vehicle_ID,registration_id,manufacturer,model,color,current_odometer,passenger_cap,Driver_ID) VALUES('V1001','2006 AFD','Kia','K7','Black',2195,4,1123);")
conn.execute("INSERT INTO Vehicle(Vehicle_ID,registration_id,manufacturer,model,color,current_odometer,passenger_cap,Driver_ID) VALUES('V1002','2021 AHR','Tesla','2020 F','White',509,4,1223);")
conn.execute("INSERT INTO Vehicle(Vehicle_ID,registration_id,manufacturer,model,color,current_odometer,passenger_cap,Driver_ID) VALUES('V1003','2020 DXF','Ford','Transit','Silver',974,2,1233);")

conn.commit()

In [ ]:
conn = sqlite3.connect('Ul.db')
cursor = conn.execute(''' SELECT * FROM Vehicle ''')
for tuples in cursor:
  print(tuples)

('V1000', '2001 ABC', 'Volvo', 'XC90 SE', 'Silver', 4350, 4, 1234)
('V1001', '2006 AFD', 'Kia', 'K7', 'Black', 2195, 4, 1123)
('V1002', '2021 AHR', 'Tesla', '2020 F', 'White', 509, 4, 1223)
('V1003', '2020 DXF', 'Ford', 'Transit', 'Silver', 974, 2, 1233)