<a href="https://colab.research.google.com/github/ulugbekar/ulugbek/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import sqlite3 as sl
con = sl.connect('my-test.db')

In [28]:
with con:
    con.execute("""
        CREATE TABLE USER (
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
            name TEXT,
            age INTEGER
        );
    """)

In [29]:
sql = 'INSERT INTO USER (id, name, age) values(?, ?, ?)'
data = [
    (1, 'Alice', 21),
    (2, 'Bob', 22),
    (3, 'Chris', 23)
]

In [30]:
with con:
    con.executemany(sql, data)

In [31]:
with con:
    data = con.execute("SELECT * FROM USER WHERE age <= 22")
    for row in data:
        print(row)

(1, 'Alice', 21)
(2, 'Bob', 22)

In [32]:
import pandas as pd
df_skill = pd.DataFrame({
    'user_id': [1,1,2,2,3,3,3],
    'skill': ['Network Security', 'Algorithm Development', 'Network Security', 'Java', 'Python', 'Data Science', 'Machine Learning']
})
df_skill

   user_id                  skill
0        1       Network Security
1        1  Algorithm Development
2        2       Network Security
3        2                   Java
4        3                 Python
5        3           Data Science
6        3       Machine Learning

In [33]:
df_skill.to_sql('SKILL', con)
df = pd.read_sql('''
    SELECT s.user_id, u.name, u.age, s.skill 
    FROM USER u LEFT JOIN SKILL s ON u.id = s.user_id
''', con)

df

   user_id   name  age                  skill
0        1  Alice   21  Algorithm Development
1        1  Alice   21       Network Security
2        2    Bob   22                   Java
3        2    Bob   22       Network Security
4        3  Chris   23           Data Science
5        3  Chris   23       Machine Learning
6        3  Chris   23                 Python

In [34]:
df.to_sql('USER_SKILL', con)

In [35]:
%load_ext sql
from random import uniform, choice
import time
from datetime import datetime, timedelta
import pandas as pd
%matplotlib inline

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [36]:
%sql sqlite:///demo.db3

'Connected: @demo.db3'

In [37]:
%sql SELECT date('now');

 * sqlite:///demo.db3
Done.

[('2022-11-17',)]

In [38]:
%sql SELECT date('now','start of month','+1 month','-1 day');

 * sqlite:///demo.db3
Done.

[('2022-11-30',)]